block variables

include ../mock/data
include ../components/components

doctype html
html.page(class= pageClass lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='preload' href='fonts/helvetica-neue-400.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='preload' href='fonts/helvetica-neue-500.woff2' as='font' type='font/woff2' crossorigin)
    link(rel='stylesheet' href='vendor/swiper/swiper-bundle.min.css')
    link(rel='stylesheet' href='css/style.min.css')
    script(src='https://api-maps.yandex.ru/v3/?apikey=e6c045b8-c60b-415c-82d4-b4adf6e237da&lang=ru_RU')
    title= title
    link(rel='icon' href='favicon.ico')
    link(rel='icon' href='img/favicons/favicon.svg' type='image/svg+xml')
    link(rel='apple-touch-icon' href='img/favicons/favicon-180.png')
    link(rel='manifest' href='manifest.webmanifest')
    meta(name='description' content='ООО «Цепь-НН» — предприятие с лучшими традициями цепного производства.')
    meta(name='keywords' content='Цепь-НН, производство цепей, цепи.')
  body.page__body
    +site-header(class='page__site-header')
    main.page__content
      block content
    +site-footer(class='page__site-footer')
    block modals

    script(src='vendor/gsap/gsap.min.js')
    script(src='vendor/gsap/scroll-trigger.min.js')
    script(src='vendor/swiper/swiper-bundle.min.js')
    script(src='vendor/pristine/pristine.min.js')
    script(src='js/script.min.js')
