mixin article
  article.article&attributes(attributes)
    .article__inner.container
      header.article__header
        h1.article__heading.heading Цепи противоскольжения с&nbsp;шипами
        time.article__date(datetime='2024-01-16') 16 января, 2024
      .article__content.raw-content.raw-content--alter
        img(src='img/articles/article-1-banner.webp' srcset='img/articles/article-1-banner@2x.webp 2x' alt='')
        .raw-content__column
          p Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)
          p Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC). Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)
