mixin certificates
  section.certificates&attributes(attributes)
    .certificates__inner.container
      h2.certificates__badge.badge ( Сертификаты )
      +certificates-list(class='certificates__list')
