mixin company
  section.company&attributes(attributes)
    .company__inner.container
      h2.company__badge.badge ( О компании )
      p.company__heading.heading.heading--small.heading--justify.heading--text-indent_left Нижегородская фирма ООО «Цепь-НН» является стабильным и динамично развивающимся предприятием с лучшими традициями цепного производства
      p.company__text Свою историю предприятие ведет с 2001 года, когда было произведено первое изделие из цепи. В дальнейшем происходил постепенный переход от ручной переработки приобретенных цепей к собственному автоматизированному производству цепной продукции.
      .company__images
        picture.company__image-wrapper.company__image-wrapper--primary
          source(media='(min-width: 1281px)' srcset='img/company/company-1-desktop.webp 1x, img/company/company-1-desktop@2x.webp 2x')
          img.company__image(src='img/company/company-1-laptop.webp' srcset='img/company/company-1-laptop@2x.webp 2x' alt='' loading='lazy')
        picture.company__image-wrapper.company__image-wrapper--secondary
          source(media='(min-width: 1281px)' srcset='img/company/company-2-desktop.webp 1x, img/company/company-2-desktop@2x.webp 2x')
          source(media='(min-width: 421px)' srcset='img/company/company-2-laptop.webp 1x, img/company/company-2-laptop@2x.webp 2x')
          img.company__image(src='img/company/company-2.webp' srcset='img/company/company-2@2x.webp 2x' alt='' loading='lazy')
      p.company__text Миссия нашей фирмы заключается в обеспечение потребителей надежными и доступными цепями в объеме, который позволяет получать постоянную прибыль и  дает возможность для дальнейшего развития промышленного потенциала предприятия, улучшение условий труда и  качества  выпускаемой продукции.
      p.company__text Большое значение для нас имеет качество выпускаемой продукции. Поэтому на предприятии на всех этапах производства, начиная с входного контроля и заканчивая отгрузкой, высококвалифицированным персоналом осуществляется постоянный контроль за соблюдением всех технологических норм и  условий производственного процесса.
