mixin contacts
  section.section.section--contacts#contacts&attributes(attributes)
    .section__inner.container
      p.section__badge.badge ( Карта )
      h2.section__heading.section__heading--column-span_5.heading Контакты
      +contacts-list(class='section__contacts-list')
    +map(class='section__contacts-map')
