mixin contacts-list
  dl.contacts-list&attributes(attributes)
    .contacts-list__group
      dt.contacts-list__key Юридический адрес:
      dd.contacts-list__value Россия, 603079, г. Нижний Новгород, Московское шоссе, 302/2, офис 17
    .contacts-list__group
      dt.contacts-list__key Адрес производства (фактический адрес):
      dd.contacts-list__value 603147, г. Нижний Новгород, ул. Юлиуса Фучика, д. 60
    .contacts-list__group
      dt.contacts-list__key Телефон:
      dd.contacts-list__value
        a.contacts-list__link(href='tel:+78314141817' rel='nofollow noopener') 8 (831) 414-18-17
    .contacts-list__group
      dt.contacts-list__key Телефон / Факс:
      dd.contacts-list__value
        a.contacts-list__link(href='tel:+78314129135' rel='nofollow noopener') 8 (831) 412-91-35
    .contacts-list__group
      dt.contacts-list__key Email:
      dd.contacts-list__value
        a.contacts-list__link(href='mailto:tsep-nn@list.ru' rel='noopener') tsep-nn@list.ru
