mixin delivery-and-payment
  .delivery-and-payment&attributes(attributes)
    .delivery-and-payment__inner.container
      h1.delivery-and-payment__heading.page-heading
        span.visually-hidden Доставка и оплата
        picture.page-heading__image-wrapper(aria-hidden='true')
          img.page-heading__image(src='img/texts/delivery-and-payment.svg' alt='')
      .delivery-and-payment__content.raw-content
        .raw-content__column
          p Появились новые модели #[a(href='catalog.html' target='_blank') цепей противоскольжения] тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC). Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)
          p Появились #[b новые модели] цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)
          img(src='img/articles/article-2.webp' srcset='img/articles/article-2@2x.webp 2x' alt='' loading='lazy')
          h2 Заголовок
          p Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC). Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)
          h3 Заголовок
          p Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC). Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)
          h3 Заголовок
          ul
            li Появились новые модели
            li Появились новые модели
            li Появились новые модели
            li Появились новые модели
