mixin design
  .design&attributes(attributes)
    ul.design__list
      li.design__list-item
        figure.design__item
          img.design__image(src='img/product/design-1.webp' width='121' height='79' alt='')
          figcaption.design__comment Соединительный крюк, застегивается с&nbsp;внутренней стороны
      li.design__list-item
        figure.design__item
          img.design__image(src='img/product/design-2.webp' width='121' height='79' alt='')
          figcaption.design__comment Натяжной гак, застегивается с&nbsp;наружней стороны
