mixin documents-page-header
  .page-header.page-header--documents&attributes(attributes)
    .page-header.container
      h1.page-header__heading.page-heading
        span.visually-hidden Документы
        picture.page-heading__image-wrapper(aria-hidden='true')
          img.page-heading__image(src='img/texts/documents.svg' alt='')
