mixin downloads
  section.downloads&attributes(attributes)
    .downloads__inner.container
      h2.downloads__badge.badge ( Инфо )
      p.downloads__heading.heading.heading--text-indent_left Скачать
      +downloads-list(class='downloads__list')
