mixin downloads-list
  ul.downloads-list&attributes(attributes)
    li.downloads-list__item
      a.downloads-list__item-link(href='files/recipe.pdf' download='Инструкция по монтажу цепи противоскольжения')
        span.downloads-list__item-name Инструкция по монтажу цепи противоскольжения
        span.downloads-list__item-type pdf
    li.downloads-list__item
      a.downloads-list__item-link(href='files/recipe.pdf' download='Карточка контрагента ООО “Цепи-НН”')
        span.downloads-list__item-name Карточка контрагента ООО “Цепи-НН”
        span.downloads-list__item-type pdf
    li.downloads-list__item
      a.downloads-list__item-link(href='files/recipe.pdf' download='Ещё одна инструкция')
        span.downloads-list__item-name Ещё одна инструкция
        span.downloads-list__item-type pdf
