mixin map-marker-template
  template#map-marker-template
    .map-marker
      img.map-marker__image(src='img/map/marker.webp' width='54' height='54' alt='Маркер на карте: Нижний Новгород, ул. Юлиуса Фучика, д. 60.')
