mixin map
  .map&attributes(attributes)
    picture.map__image-wrapper
      img.map__image(src='img/map/static.webp' width='1280' height='508' alt='Расположение фирмы «ЦЕПЬ-НН» на карте по адресу: г. Нижний Новгород, ул. Юлиуса Фучика, д. 60.')
    .map__inner
