-
  var newsSelectionItems = [
    {
      cursorImage: 'img/cursors/article-1.webp',
    },
    {
      cursorImage: 'img/cursors/article-2.webp',
    },
    {
      cursorImage: 'img/cursors/article-3.webp',
    },
    {
      cursorImage: 'img/cursors/article-4.webp',
    },
  ];

mixin news-selection
  section.selection.selection--news&attributes(attributes)
    .selection__inner.container
      h2.selection__badge.badge ( Что нового )
      p.selection__heading.heading.heading--text-indent_left Последние новости
      .selection__links
        ul.selection__list.selection__list--alter
          each item in newsSelectionItems
            li.selection__item(data-cursor-image= item.cursorImage)
              h3.selection__item-heading Мы расширяем ассортимент высокопрочных цепей класса прочности Т8
              time.selection__item-date(datetime='2024-01-16') 16 января, 2024
              +button({tag: 'a', text: 'Подробнее', href: 'article.html'})(class='selection__item-link button--simple button--expand')
        +button({tag: 'a', text: 'Смотреть все новости', href: 'news.html'})(class='selection__links-button button--secondary')
