mixin news-selection-list
  .selection-list&attributes(attributes)
    ul.selection-list__items.selection-list__items--alter
      each item in [0, 1, 2, 3]
        li.selection-list__item
          h3.selection-list__item-heading Мы расширяем ассортимент высокопрочных цепей класса прочности Т8
          time.selection-list__item-date(datetime='2024-01-16') 16 января, 2024
          +button({tag: 'a', text: 'Подробнее', href: 'article.html'})(class='selection-list__item-link button--simple button--expand')
    +button({tag: 'a', text: 'Смотреть все новости', href: 'news.html'})(class='selection-list__button button--secondary')
