mixin photo-slider
  .photo-slider&attributes(attributes)
    .photo-slider__main-slider.swiper
      ul.photo-slider__main-slider-list.swiper-wrapper
        li.photo-slider__main-slider-item.swiper-slide
          picture.photo-slider__main-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-1-desktop.webp 1x, img/product/product-1-desktop@2x.webp 2x')
            img.photo-slider__main-slider-image(src='img/product/product-1.webp' srcset='img/product/product-1@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__main-slider-item.swiper-slide
          picture.photo-slider__main-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-2-desktop.webp 1x, img/product/product-2-desktop@2x.webp 2x')
            img.photo-slider__main-slider-image(src='img/product/product-2.webp' srcset='img/product/product-2@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__main-slider-item.swiper-slide
          picture.photo-slider__main-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-3-desktop.webp 1x, img/product/product-3-desktop@2x.webp 2x')
            img.photo-slider__main-slider-image(src='img/product/product-3.webp' srcset='img/product/product-3@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__main-slider-item.swiper-slide
          picture.photo-slider__main-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-1-desktop.webp 1x, img/product/product-1-desktop@2x.webp 2x')
            img.photo-slider__main-slider-image(src='img/product/product-1.webp' srcset='img/product/product-1@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__main-slider-item.swiper-slide
          picture.photo-slider__main-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-2-desktop.webp 1x, img/product/product-2-desktop@2x.webp 2x')
            img.photo-slider__main-slider-image(src='img/product/product-2.webp' srcset='img/product/product-2@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__main-slider-item.swiper-slide
          picture.photo-slider__main-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-3-desktop.webp 1x, img/product/product-3-desktop@2x.webp 2x')
            img.photo-slider__main-slider-image(src='img/product/product-3.webp' srcset='img/product/product-3@2x.webp 2x' width='600' height='600' alt='')
      .photo-slider__main-slider-arrows
        button.photo-slider__main-slider-arrow.photo-slider__main-slider-arrow--prev(type='button')
          span.visually-hidden Предыдущий
        button.photo-slider__main-slider-arrow.photo-slider__main-slider-arrow--next(type='button')
          span.visually-hidden Следующий
    .photo-slider__thumbnails-slider.swiper
      ul.photo-slider__thumbnails-slider-list.swiper-wrapper
        li.photo-slider__thumbnails-slider-item.swiper-slide
          picture.photo-slider__thumbnails-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-1-desktop.webp 1x, img/product/product-1-desktop@2x.webp 2x')
            img.photo-slider__thumbnails-slider-image(src='img/product/product-1.webp' srcset='img/product/product-1@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__thumbnails-slider-item.swiper-slide
          picture.photo-slider__thumbnails-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-2-desktop.webp 1x, img/product/product-2-desktop@2x.webp 2x')
            img.photo-slider__thumbnails-slider-image(src='img/product/product-2.webp' srcset='img/product/product-2@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__thumbnails-slider-item.swiper-slide
          picture.photo-slider__thumbnails-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-3-desktop.webp 1x, img/product/product-3-desktop@2x.webp 2x')
            img.photo-slider__thumbnails-slider-image(src='img/product/product-3.webp' srcset='img/product/product-3@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__thumbnails-slider-item.swiper-slide
          picture.photo-slider__thumbnails-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-1-desktop.webp 1x, img/product/product-1-desktop@2x.webp 2x')
            img.photo-slider__thumbnails-slider-image(src='img/product/product-1.webp' srcset='img/product/product-1@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__thumbnails-slider-item.swiper-slide
          picture.photo-slider__thumbnails-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-2-desktop.webp 1x, img/product/product-2-desktop@2x.webp 2x')
            img.photo-slider__thumbnails-slider-image(src='img/product/product-2.webp' srcset='img/product/product-2@2x.webp 2x' width='600' height='600' alt='')
        li.photo-slider__thumbnails-slider-item.swiper-slide
          picture.photo-slider__thumbnails-slider-image-wrapper
            source(media='(min-width: 1280px)' srcset='img/product/product-3-desktop.webp 1x, img/product/product-3-desktop@2x.webp 2x')
            img.photo-slider__thumbnails-slider-image(src='img/product/product-3.webp' srcset='img/product/product-3@2x.webp 2x' width='600' height='600' alt='')
