mixin request-modal-form
  form.modal-form(action='https://fakestoreapi.com/products' method='post' target='_blank')&attributes(attributes)
    fieldset.modal-form__section
      +text-field({label: 'Имя', name: 'name', type: 'text', placeholder: 'Ваше имя', required: true})(class='modal-form__item modal-form__item--name')
      +text-field({label: 'Телефон', name: 'phone', type: 'tel', placeholder: 'Телефон', required: true})(class='modal-form__item modal-form__item--phone')
      +text-field({label: 'Организация', name: 'organization', type: 'text', placeholder: 'Название организации', required: true})(class='modal-form__item modal-form__item--organization')
      +text-area({label: 'Сообщение', name: 'message', placeholder: 'Что Вас интересует?', required: true})(class='modal-form__item modal-form__item--message')
    fieldset.modal-form__footer
      small.modal-form__comment Нажимая кнопку, Вы принимаете условия #[a.modal-form__comment-link(href='#') Политики конфиденциальности]
      +button({tag: 'button', text: 'Оставить заявку', type: 'submit'})(class='modal-form__submit-button button--primary')
      p.modal-form__error-message-wrapper
