mixin scheme
  .scheme&attributes(attributes)
    img.scheme__image(src='img/product/scheme.webp' width='400' height='230' alt='')
    .scheme__table
      .table-wrapper
        table
          thead
            tr
              th(scope='coll')
                span Наименование
              td(scope='coll') A
              td(scope='coll') C
            tbody
              tr
                th(scope='row') Цепи 5мм
                td 50
                td 23
              tr
                th(scope='row') Цепи 6мм
                td 63,5
                td 38,1
              tr
                th(scope='row') Цепи 7мм
                td 70,5
                td 40
