mixin statistics
  .statistics&attributes(attributes)
    .statistics__item
      p.statistics__heading 23
        span.statistics__heading-part года
      p.statistics__text Мы перешли от&nbsp;ручной переработки приобретенных цепей к&nbsp;собственному производству цепей
    .statistics__item(aria-hidden='true')
      picture.statistics__item-image-wrapper
        img.statictics__item-image(src='img/statistics/statistics.webp' srcset='img/statistics/statistics@2x.webp 2x' alt='' loading='lazy')
    .statistics__item
      p.statistics__heading 5000
        span.statistics__heading-part кв.&nbsp;м
      p.statistics__text Собственное производство в&nbsp;Нижнем Новгороде: цепевязальное и&nbsp;цепесвязочное оборудование
    .statistics__item
      p.statistics__heading &gt;100
        span.statistics__heading-part ед.
      p.statistics__text Специализированного оборудования в&nbsp;наличии
