extends layout/layout

block variables
  - var title = 'Каталог'
  - var pageClass = 'catalog-page'
  - var siteHeaderDarkTheme = true

block content
  +categories({links: categoriesNavigationLinks.slice(0, 4)})
