extends layout/layout

block variables
  - var title = 'Категория'
  - var pageClass = 'category-page'
  - var siteHeaderDarkTheme = true

block content
  +categories({links: categoriesNavigationLinks.slice(0, 4), currentLinkNumber: 1})
  +products({heading: 'Грузовые автомобили', products: products.concat(products, products).slice(0, 5), listGrid: 2})
