extends layout/layout

block variables
  - var title = 'О компании'
  - var pageClass = 'company-page'
  - var siteHeaderDarkTheme = true

block content
  +company-banner(class='page__banner')
  +company
