extends layout/layout

block variables
  - var title = 'Доставка и оплата'
  - var pageClass = 'delivery-and-payment-page'

block content
  .page__breadcrumbs.container
    +breadcrumbs([
      { text: 'Клиентам', href: '#' },
      { text: 'Доставка и оплата' },
    ])
  +delivery-and-payment
