extends layout/layout

block variables
  - var title = 'Доставка и оплата'
  - var pageClass = 'delivery-and-payment-page'

block content
  +breadcrumbs([
    { text: 'Клиентам', href: '#' },
    { text: 'Доставка и оплата' },
  ])
  +delivery-and-payment
