extends layout/layout

block variables
  - var title = 'Ответы на частые вопросы'
  - var pageClass = 'faq-page'

block content
  .page__breadcrumbs.container
    +breadcrumbs([
      { text: 'Клиентам', href: '#' },
      { text: 'Ответы на частые вопросы' },
    ])

  +section
    h1.section__page-heading.page-heading
      span.visually-hidden Ответы на частые вопросы
      picture.page-heading__image-wrapper(aria-hidden='true')
        source(media='(min-width: 660px)' srcset='img/texts/answers-to-frequently-asked-questions.svg')
        img.page-heading__image(src='img/texts/answers-to-frequently-asked-questions-short.svg' alt='')
    +folds(faq)(class='section__folds')
