extends layout/layout

block variables
  - var title = 'Цепь-НН'
  - var pageClass = 'index-page'

block content
  +main-banner(class='page__banner')
  +company-preview
  +news-selection
  +cursor-picture
  +features(features)
