extends layout/layout

block variables
  - var title = 'Тип “Лесенка”'
  - var pageClass = 'product-page'

block content
  +product(product)

block modals
  +modal(class='modal--position_side modal--with_form' data-modal='request')
    +request-modal-form-section
