extends layout/layout

block variables
  - var title = 'Тип “Лесенка”'
  - var pageClass = 'product-page'

block content
  +product(product)

block modals
  +modal(class='modal--position_side modal--with_form' data-modal='request')
    +request-modal-form-section
  +modal(class='modal--position_center modal--with_photo' data-modal='photo')
    +photo(class='modal__photo modal__photo--fit-screen')
