extends layout/layout

block variables
  - var title = 'Тип “Лесенка”'
  - var pageClass = 'product-page'

block content
  +breadcrumbs([
    { text: 'Цепи противоскольжения', href: '#' },
    { text: 'Для легковых авто' },
  ])

block modals
  +modal(class='modal--position_side modal--with_form' data-modal='request')
    +request-modal-form-section
