extends layout/layout

block variables
  - var title = 'Вакансии'
  - var pageClass = 'vacancies-page'

block content
  +vacancies-page-header
  +chapter(chapters['vacancies-who-we-are'])
  +advantages
  +chapter(chapters['vacancies-about-company'])
  +vacancies-selection
