.burger {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 18px;
  height: 17px;
  padding: 0;
  border: none;
  color: inherit;
  background: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -10px;
    bottom: -20px;
    left: -40px;
  }

  &::after {
    content: "";
    width: 18px;
    height: 11px;
    margin: auto;
    mask: url("../img/icons.svg#burger_open");
    background: currentColor;
  }
}

.burger--open::after {
  width: 17px;
  height: 17px;
  margin: auto 0 0 auto;
  mask: url("../img/icons.svg#burger_close");
}
