.certificates-list__items {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-template-rows: auto;
  gap: 10px;

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.certificates-list__item {
  overflow: hidden;
}

.certificates-list__item-link {
  display: block;
  text-decoration: none;
  color: inherit;
  filter: grayscale(1) blur(0);
  transition: filter $little-interaction-duration;

  &:hover {
    filter: grayscale(0) blur(2px);
  }

  @include pointer-cursor-medium;

  @media (min-width: $desktop-width) {
    @include pointer-cursor-big;
  }
}

.certificates-list__item-image {
  display: block;
  width: 100%;
  height: auto;
}

.certificates-list__button-wrapper {
  display: none;
  margin: 10px 0 0;
}

.certificates-list__button {
  width: 100%;
}

.certificates-list--short {
  @media (max-width: ($laptop-width - 1)) {
    .certificates-list__items {
      grid-auto-rows: 0;
    }

    .certificates-list__button-wrapper {
      display: block;
    }
  }
}
