.company-preview {
  font: 400 16px/1 $main-font-family;

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 20px;
  }
}

.company-preview__inner {
  @media (min-width: $laptop-width) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}

.company-preview__badge {
  margin: 0 0 11px;

  @media (min-width: $laptop-width) {
    position: absolute;
    top: 5px;
    left: var(--edge-indent);
  }
}

.company-preview__heading {
  margin: 0 0 5px;

  @media (min-width: $laptop-width) {
    grid-column: 1 / -1;
    margin: 0 var(--section-heading-left-indent) 11px;
  }
}

.company-preview__text {
  margin: 0 0 19px;
  letter-spacing: -0.02em;

  @media (min-width: $laptop-width) {
    grid-column: 2 / -1;
    max-width: 500px; // 462 - 506
    margin: 0 0 39px;
  }
}

.company-preview__statistics {
  margin: 0 0 20px;

  @media (min-width: $laptop-width) {
    grid-column: 2 / -1;
    margin: 0;
  }
}


.company-preview__button {
  width: 100%;

  @media (min-width: $laptop-width) {
    position: absolute;
    width: auto;
    top: 9px;
    right: var(--edge-indent);
  }
}
