.heading {
  font: 400 30px/32px $main-font-family;
  text-transform: uppercase;

  @media (min-width: $laptop-width) {
    font-size: 48px;
    line-height: 52px;
    text-indent: calc((100% - var(--section-column-gap) * (var(--section-column-count) - 1) + var(--section-heading-left-indent)) / var(--section-column-count) + var(--section-column-gap) - var(--section-heading-left-indent));
  }
}

.heading--with-right-indent {
  @media (min-width: $laptop-width) {
    text-indent: calc((100% - var(--section-column-gap) * (var(--section-column-count) - 1) + var(--section-heading-left-indent) * 2) / var(--section-column-count) + var(--section-column-gap) - var(--section-heading-left-indent));
  }
}

.heading--small {
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $laptop-width) {
    font-size: 40px;
    line-height: 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 48px;
    line-height: 52px;
  }
}
