.news-list__items {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px 10px;

  @media (min-width: 390px) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  @media (min-width: $desktop-width) {
    gap: 38px 20px;
  }
}

.news-list__item--wide {
  @media (min-width: $laptop-width) {
    grid-column: span 2;
  }
}

.news-list__button {
  width: 100%;
  margin: 20px 0 0;

  @media (min-width: $laptop-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}
