.page * {
  font-kerning: none;
}

.page__site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.page__body {
  display: grid;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto; // main footer
  font: 400 16px/16px $main-font-family;
  color: var(--text-color);
  background: var(--background-color);
  overflow-x: hidden;

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 20px;
  }
}

.page__banner {
  height: 700px;
  max-height: 100vh;

  @supports (max-height: 100dvh) {
    max-height: 100dvh;
  }

  @media (min-width: $desktop-width) {
    height: 900px;
  }
}

.page__content > * + * {
  margin-top: 70px;

  @media (min-width: $laptop-width) {
    margin-top: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 120px;
  }
}

.page__content > :last-child {
  margin-bottom: 70px;

  @media (min-width: $laptop-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 120px;
  }
}

.page__production-slider {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  margin-top: 0;

  @supports (max-height: 100dvh) {
    min-height: 100dvh;
    max-height: 100dvh;
  }
}

.page-header--documents + * {
  margin-top: 37px;

  @media (min-width: $laptop-width) {
    margin-top: 40px;
  }
}

.section--contacts + * {
  margin-top: 0;
}

.section--contacts.section--contacts {
  margin-bottom: 0;
}

.page__content > :first-child {
  margin-top: calc(var(--site-header-height) + 20px);

  @media (min-width: $laptop-width) {
    margin-top: calc(var(--site-header-height) + 40px);
  }
}

.page__content > .page__breadcrumbs:first-child {
  margin-top: calc(var(--site-header-height) + 20px);

  @media (min-width: $laptop-width) {
    margin-top: calc(var(--site-header-height) + 32px);
  }

  @media (min-width: $desktop-width) {
    margin-top: calc(var(--site-header-height) + 40px);
  }
}

.page__content > .page__banner:first-child,
.page__content > .categories:first-child {
  margin-top: 0;
}

.page__breadcrumbs + * {
  margin-top: 17px;

  @media (min-width: $laptop-width) {
    margin-top: 43px;
  }
}

.page__breadcrumbs + .article {
  margin-top: 12px;

  @media (min-width: $laptop-width) {
    margin-top: 34px;
  }
}
