.page__site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.page__body {
  display: grid;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto; // main footer
  font: 400 16px/16px $main-font-family;
  color: var(--text-color);
  background: var(--background-color);
  overflow-x: hidden;

  @supports (height: 100dvh) {
    height: 100dvh;
  }

  &--no-scroll {
    overflow: hidden;
  }

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 20px;
  }
}

.page__banner {
  height: 700px;
  min-height: 100vh;
  max-height: 100vh;

  @supports (min-height: 100dvh) {
    min-height: 100dvh;
  }

  @supports (max-height: 100dvh) {
    max-height: 100dvh;
  }

  @media (min-width: $desktop-width) {
    height: 900px;
  }
}

.page__content > * {
  margin-bottom: 70px;

  @media (min-width: $laptop-width) {
    margin-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 120px;
  }
}

.page__content > .breadcrumbs {
  margin: 0;
}

.page__content > .breadcrumbs + * {
  margin-top: 17px;

  @media (min-width: $laptop-width) {
    margin-top: 43px;
  }
}

.page__content > .breadcrumbs + .article {
  margin-top: 12px;

  @media (min-width: $laptop-width) {
    margin-top: 34px;
  }
}
