.production-slider {
  font: 400 16px/16px $main-font-family;
  background: var(--background-color);
  transition: background-color $little-interaction-duration;

  &--theme_1 {
    background: var(--background-color);

    .production-slider__pagination-item {
      background: var(--background-color-3);
    }
  }

  &--theme_2 {
    background: var(--background-color-2);

    .production-slider__pagination-item {
      background: var(--background-color-5);
    }
  }

  &--theme_3 {
    background: var(--background-color-3);

    .production-slider__pagination-item {
      background: var(--background-color-6);
    }
  }

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 20px;
  }
}

.product-slider__inner {
  position: relative;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  background: inherit;
}

.production-slider__slider {
  height: 100%;
  background: inherit;
}

.production-slider__list {
  height: 100%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  counter-reset: types;
  background: inherit;
}

.production-slider__item {
  position: relative;
  z-index: 0;
  display: grid;
  box-sizing: border-box;
  height: auto;
  padding: 67px var(--edge-indent) 0;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto) 1fr;
  column-gap: var(--section-column-gap);
  background-color: inherit;
  counter-increment: types;

  @media (min-width: $laptop-width) {
    padding-top: 91px;
    grid-template-rows: repeat(3, auto) 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-top: 112px;
  }
}

.production-slider__item-badge {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin: 0 0 11px;

  @media (min-width: $laptop-width) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin: 4px 0 0;
  }
}

.production-slider__item-heading {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0 0 5px;
  overflow-wrap: anywhere;

  &::before {
    content: "/" counter(types) "\0020";
  }

  @media (min-width: $laptop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / span 5;
    margin-bottom: 11px;
    text-indent: calc((100% - 4 * var(--section-column-gap)) / 5 + var(--section-column-gap));
  }
}

.production-slider__item-texts {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  max-width: 464px;
  margin: 0 0 9px;
  letter-spacing: -0.02em;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $laptop-width) {
    grid-row: 2 / 3;
    grid-column: 3 / span 3;
    margin-bottom: 19px;
  }
}

.production-slider__item-text {
  margin: 0;

  & + .production-slider__item-text {
    margin-top: 10px;

    @media (min-width: $laptop-width) {
      margin-top: 20px;
    }
  }
}

.production-slider__item-shortcuts {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  z-index: 1;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $laptop-width) {
    grid-row: 3 / 4;
    grid-column: 3 / span 3;
  }
}

.production-slider__items-details-button {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  z-index: 1;
  align-self: end;
  margin: 40px 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $laptop-width) {
    grid-row: 4 / 5;
    grid-column: 3 / -1;
    place-self: start start;
    margin-top: 102px;
  }
}

.production-slider__item-image-container {
  position: relative;
  z-index: -1;
  grid-column: 1 / -1;
  grid-row: 5 / 6;
  margin: 0 calc(var(--edge-indent) * (-1));
  background-color: inherit;

  @media (max-width: ($tablet-width - 1)) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent 25%);
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
  }

  @media (min-width: $laptop-width) {
    grid-column: 3 / -1;
    grid-row: 3 / 5;
    margin-top: 40px;
  }
}

.production-slider__item-image-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 330px;
  background-color: inherit;

  @media (min-width: 421px) {
    max-width: 660px;
    max-height: 550px;
  }

  @media (min-width: $desktop-width) {
    max-width: 950px;
    max-height: 720px;
  }
}

.production-slider__item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  mix-blend-mode: darken;
}

.production-slider__pagination.production-slider__pagination {
  position: absolute;
  top: 140px;
  right: auto;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  display: none;
  width: auto;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  @media (min-width: $laptop-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    left: 20px;
  }
}

.production-slider__pagination-item {
  height: 120px;
  width: 4px;
  background-color: var(--background-color-3);
  transition: background-color $little-interaction-duration;
}

.production-slider__pagination-item--active.production-slider__pagination-item--active {
  background: var(--background-dark-color);
}
