.product {
  font: 400 16px/18px $main-font-family;
}

.product__inner {
  @media (min-width: $laptop-width) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, auto) 1fr;
    column-gap: var(--section-column-gap);
  }
}

.product__inner > * {
  @media (min-width: $laptop-width) {
    grid-column: 4 / -1;
  }
}

.product__breadcrumbs {
  margin: 0 0 12px;

  @media (min-width: $laptop-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 22px;
    margin-bottom: 34px;
  }
}

.product__header {
  margin: 0 0 19px;

  @media (min-width: $laptop-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.product__heading {
  margin: 0 0 5px;

  @media (min-width: $laptop-width) {
    margin-bottom: 11px;
  }
}

.product__description {
  letter-spacing: -0.02em;
}

.product__description-text {
  margin: 0;

  @media (min-width: $laptop-width) {
    max-width: 470px;
    font-size: 18px;
    line-height: 20px;
  }

  & + .product__description-text {
    margin-top: 10px;
  }
}

.product__photos {
  margin: 0 0 30px;

  @media (min-width: $laptop-width) {
    grid-column: 1 / 4;
    grid-row: 1 / 10;
    margin: 0;
  }
}

.product__section + .product__section:not(.product__section--wide) {
  padding-top: 20px;
  border-top: 1px solid var(--text-color-10);
  margin-top: 20px;

  @media (min-width: $laptop-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.product__section + .product__section--wide {
  margin-top: 70px;

  @media (min-width: $laptop-width) {
    margin-top: 100px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 120px;
  }
}

.product__section--options + .product__section.product__section {
  margin-top: 30px;

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.product__section--wide {
  @media (min-width: $laptop-width) {
    grid-column: 1 / -1;
  }
}

.product__section-heading {
  margin: 0 0 20px;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.02em;
}

.product__section-design {
  max-width: 470px;
}

.product__list {
  padding: 0 0 0 24px;
  margin: 20px 0;
  letter-spacing: -0.02em;
}

.product__text {
  margin: 16px 0;
  letter-spacing: -0.02em;

  @media (min-width: $desktop-width) {
    max-width: 675px;
  }
}

.product__text-link {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration-color: transparent;
  transition: text-decoration-color $medium-interaction-duration;

  &:hover {
    text-decoration-color: currentColor;
  }
}

.product__section > :last-child {
  margin-bottom: 0;
}

.product__section--wide .product__section-heading {
  @media (min-width: $laptop-width) {
    @include visually-hidden;
  }
}

.product__table-wrapper {
  @media (max-width: ($wide-tablet-width - 1)) {
    margin: 0 calc(var(--edge-indent) * -1);
  }
}

.product__table {
  width: 100%;
}
