.section {
  font: 400 16px/16px $main-font-family;

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 20px;
  }
}

.section__inner {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(2, minmax(0, 200px)) repeat(2, 1fr);

  @media (min-width: $laptop-width) {
    column-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.section__page-heading {
  margin: 0;
}

.section__text {
  margin: 0;
  letter-spacing: -0.02em;

  &--small {
    font-size: 14px;
    line-height: 15px;

    @media (min-width: $laptop-width) {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.section__text-link {
  font-weight: 500;
  text-decoration: underline solid transparent;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
  transition: text-decoration-color $medium-interaction-duration;

  &:hover {
    text-decoration-color: currentColor;
  }
}

// Расположение в сетке

.section__inner > * {
  grid-column: 3 / 5;
}

.section__inner > .section__page-heading {
  grid-column: 1 / -1;
}

// Отступы

.section__page-heading + .section__text {
  margin-top: 11px;

  @media (min-width: $laptop-width) {
    margin-top: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.section__text + .section__text {
  margin-top: 10px;

  @media (min-width: $laptop-width) {
    margin-top: 20px;
  }
}

.section__text + .section__form {
  margin-top: 20px;

  @media (min-width: $laptop-width) {
    margin-top: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.section__text--small + .section__text--small {
  margin-top: 10px;
}
