.selection-list__items {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: items;
}

.selection-list__item {
  position: relative;
  z-index: 0;
  display: grid;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
  font: 400 14px/15px $main-font-family;
  transition: border-color $little-interaction-duration ease;
  counter-increment: items;

  &:last-child {
    border-bottom: 1px solid var(--border-color);
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    column-gap: 40px;

    &::after {
      content: "/" counter(items, decimal-leading-zero);
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      font-size: 32px;
      line-height: 35px;
      opacity: 0.7;
      transition: opacity $little-interaction-duration ease;
    }
  }

  @media (min-width: $laptop-width) {
    box-sizing: border-box;
    min-height: 144px;
    padding: 51px 0 49px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    column-gap: var(--section-column-gap);
    align-items: center;
    font-size: 16px;
    line-height: 18px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: calc(var(--edge-indent) * (-1));
      bottom: 0;
      left: calc(var(--edge-indent) * (-1));
      z-index: -1;
      transition: background-color $little-interaction-duration ease;
    }

    &::after {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &:hover {
      border-color: transparent;

      &::after {
        opacity: 1;
      }

      &::before {
        background: var(--accent-color);
      }

      & + .selection-list__item {
        border-top-color: transparent;
      }

      .selection-list__item-heading {
        opacity: 1;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 50px;
  }
}

.selection-list__items--alter .selection-list__item {
  @media (min-width: $tablet-width) {
    &::after {
      transform: translateY(-6px);
    }
  }

  @media (min-width: $laptop-width) {
    align-items: start;

    &::after {
      transform: translateY(-10px);
    }
  }
}

.selection-list__item-heading {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.7;
  transition: opacity $little-interaction-duration ease;

  @media (min-width: $laptop-width) {
    grid-column: span 3;
    max-width: 86%;
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    max-width: 69%;
    line-height: 1;
  }
}

.selection-list__item-date {
  order: -1;
  margin: 0 0 10px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  opacity: 0.4;

  @media (min-width: $laptop-width) {
    order: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1;
  }
}

.selection-list__item-content {
  margin: 11px 0 0;
  letter-spacing: -0.02em;

  @media (min-width: $laptop-width) {
    margin: 0;
  }
}

.selection-list__item-text--weak {
  opacity: 0.4;
}

.selection-list__item-text + .selection-list__item-text {
  margin: 4px 0 0;
}

.selection-list__item-link {
  justify-self: start;
  margin: 20px 0 0;

  @media (min-width: $laptop-width) {
    justify-self: end;
    margin: 0;
  }
}

.selection-list .button--expand::before {
  top: -1px;
}

.selection-list__button {
  width: 100%;
  margin: 20px 0 0;
}
