.statistics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 10px;
  font: 400 16px/18px $main-font-family;

  @media (min-width: $laptop-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    font-size: 18px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.statistics__item {
  position: relative;
  z-index: 0;
  display: flex;
  box-sizing: border-box;
  min-height: 150px;
  padding: 4px 16px 12px 12px;
  flex-direction: column;
  box-shadow: inset 0 0 0 1px var(--text-color-20);

  @media (min-width: $laptop-width) {
    min-height: 210px;
    padding: 7px 20px 19px;
  }
}

.statistics__heading {
  margin: 0 0 auto;
  font-size: 50px;
  line-height: 54px;
  text-transform: uppercase;

  @media (min-width: $laptop-width) {
    font-size: 70px;
    line-height: 76px;
  }
}

.statistics__heading-part {
  margin: 0 0 0 4px;
  font-size: 20px;
  line-height: 22px;

  @media (min-width: $laptop-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

.statistics__text {
  margin: 5px 0 0;
  letter-spacing: -0.02em;

  @media (min-width: $laptop-width) {
    margin-top: 16px;
  }
}

.statistics__item-image-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.statictics__item-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
