-
  var chapters = {
    'vacancies-who-we-are': {
      heading: {
        text: 'Учитывая ключевые сценарии поведения, новая модель организационной деятельности является качественно новой ступенью укрепления моральных ценностей.',
        size: 'small',
        align: 'justify',
      },
      badge: 'Кто мы?',
      texts: [
        'А также некоторые особенности внутренней политики преданы социально-демократической анафеме. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: дальнейшее развитие различных форм деятельности не оставляет шанса для благоприятных перспектив.',
      ],
    },
    'vacancies-about-company': {
      heading: {
        text: 'Чем мы занимаемся?',
      },
      badge: 'О компании',
      texts: [
        'А также некоторые особенности внутренней политики преданы социально-демократической анафеме. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: дальнейшее развитие различных форм деятельности не оставляет шанса для благоприятных перспектив.',
        'А также некоторые особенности внутренней политики преданы социально-демократической анафеме.',
      ],
    },
    'guarantees': {
      heading: {
        text: 'Возврат',
      },
      badge: 'Гарантии',
      texts: [
        'Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)',
        'Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)',
        'Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)',
      ],
    }
  };
