-
  var faq = [
    {
      heading: 'Что необходимо для начала сотрудничества?',
      content: '<p>Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)</p>',
    },
    {
      heading: 'Что необходимо для начала сотрудничества?',
      content: '<p>Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)</p>',
    },
    {
      heading: 'Что необходимо для начала сотрудничества?',
      content: '<p>Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)</p>',
    },
    {
      heading: 'Что необходимо для начала сотрудничества?',
      content: '<p>Появились новые модели цепей противоскольжения тип "лесенка", "зигзаг", "ромб" из цепей калибра 10 мм. Комплекты выполнены из цепей нормальной прочности и комплекты, где рабочая часть из каленой высокопрочной цепи (сталь 25Г2А, твердость после закалки 38-45 HRC)</p>',
    },
  ];
