-
  var features = [
    {
      text: 'Кратчайший срок изготовления&nbsp;и&nbsp;поставки',
      image: 'img/features/feature-1.webp',
      image2x: 'img/features/feature-1@2x.webp',
    },
    {
      text: 'Контроль качества на&nbsp;всех этапах&nbsp;производства',
      image: 'img/features/feature-2-cube.webp',
      image2x: 'img/features/feature-2-cube@2x.webp',
    },
    {
      text: 'Постоянная модернизация производства и&nbsp;освоение новых возможностей',
      image: 'img/features/feature-3-cube.webp',
      image2x: 'img/features/feature-3-cube@2x.webp',
    },
    {
      text: 'Кратчайший срок изготовления&nbsp;и&nbsp;поставки',
      image: 'img/features/feature-1.webp',
      image2x: 'img/features/feature-1@2x.webp',
    },
    {
      text: 'Контроль качества на&nbsp;всех этапах&nbsp;производства',
      image: 'img/features/feature-2-cube.webp',
      image2x: 'img/features/feature-2-cube@2x.webp',
    },
    {
      text: 'Постоянная модернизация производства и&nbsp;освоение новых возможностей',
      image: 'img/features/feature-3-cube.webp',
      image2x: 'img/features/feature-3-cube@2x.webp',
    },
  ]
