-
  var productsNavigationLinks = [
    {
      text: 'Цепи<br> противо&shy;скольжения',
      href: 'catalog.html',
    },
    {
      text: 'Круглозвенные<br> цепи',
      href: 'catalog.html',
    },
    {
      text: 'Оставить<br> заявку',
      href: 'request.html',
      accent: true,
    },
    {
      text: 'Цепи<br> привязи КРС',
      href: 'catalog.html',
    },
  ];

  var categoriesNavigationLinks = [
    {
      text: 'Легковые',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
    {
      text: 'Грузовые',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
    {
      text: 'Погрузчики',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
    {
      text: 'Тракторы и&nbsp;спец.&nbsp;техника',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
    {
      text: 'Погрузчики',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
    {
      text: 'Грузовые',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
    {
      text: 'Легковые',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
    {
      text: 'Тракторы и&nbsp;спец.&nbsp;техника',
      image: 'img/navigation/categories/freight.webp',
      href: 'category.html',
    },
  ];
