-
  var newsCards = [
    {
      image: 'img/news-cards/1.webp',
      image2x: 'img/news-cards/1@2x.webp',
    },
    {
      image: 'img/news-cards/2.webp',
      image2x: 'img/news-cards/2@2x.webp',
    },
    {
      image: 'img/news-cards/3.webp',
      image2x: 'img/news-cards/3@2x.webp',
    },
    {
      image: 'img/news-cards/1.webp',
      image2x: 'img/news-cards/1@2x.webp',
    },
    {
      image: 'img/news-cards/2.webp',
      image2x: 'img/news-cards/2@2x.webp',
    },
  ];
