-
  var products = [
    {
      title: 'Тип «Лесенка»',
      description: 'Для легковых автомобилей',
      image: 'img/catalog/1.webp',
      image2x: 'img/catalog/1@2x.webp',
      desktopImage: 'img/catalog/1-desktop.webp',
      desktopImage2x: 'img/catalog/1-desktop@2x.webp',
    },
    {
      title: 'Тип «Сота»',
      description: 'Для легковых автомобилей',
      image: 'img/catalog/2.webp',
      image2x: 'img/catalog/2@2x.webp',
      desktopImage: 'img/catalog/2-desktop.webp',
      desktopImage2x: 'img/catalog/2-desktop@2x.webp',
    },
  ];
