-
  var production = [
    {
      title: 'Круглозвенные цепи',
      description: 'Предназначены для предотвращения проскальзывания колес и повышения проходимости авто',
      categories: [
        {
          text: 'Нормальной прочности',
          icon: 'img/icons.svg#chain',
          isChainIcon: true,
        },
        {
          text: 'Высокой прочности',
          icon: 'img/icons.svg#chain',
          isChainIcon: true,
        },
      ],
      cardImage: 'img/production/cards/round-link-chains',
      slideImage: 'img/production/slides/round-link-chains',
    },
    {
      title: 'Цепи противоскольжения',
      description: 'Предназначены для предотвращения проскальзывания колес и повышения проходимости авто',
      categories: [
        {
          text: 'Легковые',
          icon: 'img/icons.svg#categories_car',
        },
        {
          text: 'Грузовые',
          icon: 'img/icons.svg#categories_truck',
        },
        {
          text: 'Погрузчики',
          icon: 'img/icons.svg#categories_forklift',
        },
        {
          text: 'Спецтехника',
          icon: 'img/icons.svg#categories_specialized-machinery',
        },
      ],
      cardImage: 'img/production/cards/anti-skid-chains',
      slideImage: 'img/production/slides/anti-skid-chains',
    },
    {
      title: 'Цепи привязи КРС',
      description: 'Предназначены для предотвращения проскальзывания колес и повышения проходимости авто',
      categories: [
        {
          text: 'Групповая привязь',
          icon: 'img/icons.svg#categories_group',
        },
        {
          text: 'Индивидуальная привязь',
          icon: 'img/icons.svg#categories_individual',
        },
        {
          text: 'Цепи для транспортеров',
          icon: 'img/icons.svg#categories_conveyor',
        },
      ],
      cardImage: 'img/production/cards/tether-chains',
      slideImage: 'img/production/slides/tether-chains',
    },
    {
      title: 'Прочие товары',
      description: 'Кольца, звенья, крючки',
      cardImage: 'img/production/cards/other',
      slideImage: 'img/production/slides/other',
    },
  ];
