-
  var product = {
    title: 'Тип “Лесенка”',
    description: [
      'Цепи противоскольжения для легковых автомобилей тип "лесенка"',
    ],
    options: [
      {
        label: 'Шипы',
        name: 'thorns',
        variants: [
          {
            text: 'Без шипов',
            value: 'false',
            isActive: true,
          },
          {
            text: 'Шипы',
            value: 'true',
          },
        ],
      },
      {
        label: 'Прочность',
        name: 'strength',
        variants: [
          {
            text: 'Обычная',
            value: 'normal',
          },
          {
            text: 'Высокая',
            value: 'high',
            isActive: true,
          },
        ],
      },
      {
        label: 'Толщина цепи',
        name: 'thickness',
        variants: [
          {
            text: '5/5',
            value: '5/5',
          },
          {
            text: '6/6',
            value: '6/6',
            isActive: true,
          },
        ],
      },
    ],
    advantages: [
      'обеспечивают наибольшее тяговое усилия',
      'простота и надежность конструкции',
      'прочные элементы крепления и натяжения',
      'высокая надежность соединения частей цепи за счет использования колец',
    ],
    specifications: [
      'Боковая соединительная часть выполняется из цепей калибра 5мм или 6мм',
      'Поперечная рабочая часть изготавливается из цепей калибра 5мм или 6мм',
    ],
  }
