:root {
  --text-color: #252525;
  --text-color-10: rgb(37, 37, 37, 0.1);
  --text-color-40: rgb(37, 37, 37, 0.4);
  --text-color-50: rgb(37, 37, 37, 0.5);
  --text-color-60: rgb(37, 37, 37, 0.6);
  --text-light-color: #ffffff;
  --text-weak-color: #8d8d8d;
  --background-color: #f5f5f5;
  --background-color-2: #f0f0f0;
  --background-color-3: #e7e7e7;
  --background-color-4: #f8f8f8;
  --background-color-5: #e3e3e3;
  --background-color-6: #d9d9d9;
  --background-alter-color: #ffffff;
  --background-dark-color: #252525;
  --table-cell-border-color: #e9e9e9;
  --overlay-color: rgb(37, 37, 37, 0.4);
  --accent-color: #ff7d35;
  --error-color: #ff380d;
  --image-wrapper-background-color: #f0f0f0;
  --border-color: rgb(37, 37, 37, 0.2);

  --edge-indent: 10px;
  --section-column-gap: 10px;
  --site-header-height: 60px;

  --zero-percent: 0%;

  @media (min-width: $laptop-width) {
    --site-header-height: 67px;
  }

  @media (min-width: $desktop-width) {
    --edge-indent: 20px;
    --site-header-height: 88px;
    --section-column-gap: 20px;
  }
}
