:root {
  --text-color: #252525;
  --text-color-10: rgb(37, 37, 37, 0.1);
  --text-color-20: rgb(37, 37, 37, 0.2);
  --text-color-40: rgb(37, 37, 37, 0.4);
  --text-color-50: rgb(37, 37, 37, 0.5);
  --text-light-color: #ffffff;
  --background-color: #f5f5f5;
  --background-alter-color: #ffffff;
  --background-dark-color: #252525;
  --overlay-color: rgb(37, 37, 37, 0.4);
  --accent-color: #ff7d35;
  --error-color: #ff380d;

  --edge-indent: 10px;
  --section-column-gap: 10px;
  --site-header-height: 60px;

  --zero-percent: 0%;

  @media (min-width: $laptop-width) {
    --site-header-height: 67px;
  }

  @media (min-width: $desktop-width) {
    --edge-indent: 20px;
    --section-column-gap: 20px;
  }
}
