// Viewports
$mobile-width: 390px;
$tablet-width: 768px;
$wide-tablet-width: 1024px;
$laptop-width: 1260px;
$desktop-width: 1580px;

// Fonts
$main-font-family: "Helvetica Neue", "Arial", sans-serif;

// Sizes
$centerer-max-width: 1560px;

// Timings
$site-header-expand-duration: 400ms;
$little-interaction-duration: 200ms;
$medium-interaction-duration: 500ms;
$long-interaction-duration: 1000ms;
$folds-timing-duration: 200ms;
$folds-timing-function: ease-in-out;
$modal-animation-duration: 450ms;
$modal-form-animation-duration: 600ms;
$table-row-expand-duration: 300ms;
