// Viewports
$tablet-width: 768px;
$laptop-width: 1260px;
$desktop-width: 1580px;

// Fonts
$main-font-family: "Helvetica Neue", "Arial", sans-serif;

// Sizes
$centerer-max-width: 1560px;

// Timings
$site-header-expand-duration: 400ms;
$little-interaction-duration: 150ms;
$medium-interaction-duration: 300ms;
