include blocks/advantages
include blocks/article
include blocks/breadcrumbs
include blocks/burger
include blocks/button
include blocks/chapter
include blocks/contacts
include blocks/contacts-list
include blocks/company
include blocks/company-banner
include blocks/company-preview
include blocks/cursor-picture
include blocks/delivery-and-payment
include blocks/footer-navigation
include blocks/logo
include blocks/main-banner
include blocks/map
include blocks/map-marker-template
include blocks/news
include blocks/news-card
include blocks/news-list
include blocks/products-banner
include blocks/news-selection
include blocks/site-navigation
include blocks/site-footer
include blocks/site-header
include blocks/socials
include blocks/statistics
include blocks/vacancies-page-header
include blocks/vacancies-selection
