include blocks/article
include blocks/breadcrumbs
include blocks/burger
include blocks/button
include blocks/certificates-list
include blocks/contacts
include blocks/contacts-list
include blocks/company-banner
include blocks/cursor-picture
include blocks/delivery-and-payment
include blocks/documents-page-header
include blocks/downloads-list
include blocks/feature
include blocks/features
include blocks/features-list
include blocks/features-slider
include blocks/folds
include blocks/footer-navigation
include blocks/logo
include blocks/main-banner
include blocks/map
include blocks/map-marker-template
include blocks/modal
include blocks/news
include blocks/news-card
include blocks/news-list
include blocks/products-banner
include blocks/news-selection-list
include blocks/request-form
include blocks/request-modal-form
include blocks/request-modal-form-section
include blocks/section
include blocks/site-navigation
include blocks/site-footer
include blocks/site-header
include blocks/socials
include blocks/statistics
include blocks/text-area
include blocks/text-field
include blocks/vacancies-page-header
include blocks/vacancies-selection-list
